<!-- Button trigger modal -->
<button class="btn btn-secondary" role="button" data-toggle="modal" data-target="#{{ project.id }}">
      <i class="material-icons md-18">reorder</i>
</button>

<!-- Modal -->
<div class="modal fade bd-example-modal-lg" id="{{ project.id }}" tabindex="-1" role="dialog" aria-labelledby="modalTitle" aria-hidden="true">


      <div class="modal-dialog modal-dialog-centered modal-lg" role="document">

            <div class="modal-content">
                  <div class="modal-header">
                      <h5 class="modal-title" id="modalTitle"><b>Projeto</b></h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                      </button>
                  </div>


                  <div class="modal-body">
                      <div class="container">

                          <div class="row">
                              <div class="col-3">
                                  <h6><b>Nome projeto:</b></h6>
                              </div>
                              <div class='col-9'>
                                  <h6>{{ project.nome }}</h6>
                              </div>
                          </div>

                          <div class="row">
                              <div class="col-3">
                                  <h6><b>Coordenador(es)</b></h6>
                              </div>
                              <div class='col-9'>
                                <ol>
                                {% for coord in project.coordenador %}
                                  <li>{{ coord }}</li>
                                {% endfor %}
                              </ol>
                              </div>
                          </div>


                      </div>
                  </div>

                  <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                  </div>
            </div>

      </div>


</div>
