<!-- Button trigger modal -->
<button class="btn btn-secondary" role="button" data-toggle="modal" data-target="#{{ project.id }}">
      <i class="material-icons md-18">reorder</i>
</button>

<!-- Modal -->
<div class="modal fade bd-example-modal-lg" id="{{ project.id }}" tabindex="-1" role="dialog" aria-labelledby="modalTitle" aria-hidden="true">


      <div class="modal-dialog modal-dialog-centered modal-lg" role="document">

            <div class="modal-content">
                  <div class="modal-header" style="background-color:#B5B5B5;">
                      <b class="modal-title" id="modalTitle" style="color: white">Detalhes</b>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                      </button>
                  </div>


                  <div class="modal-body" style="background-color:#F8F8FF">
                      <div class="container">
                          <div class="row">
                              <label><b>Nome do projeto</b></label>
                              <div class="col-12">
                                  <p>{{ project.nome }}</p>
                              </div>
                          </div>
                      
                          <hr style="width:100%" />
                      
                          <div class="row">
                              <label><b>Coordenador(es)</b></label>
                              <div class="col-12">
                                <p>
                                  <ol>
                                      {% for coordenador in project.coordenador %}
                                          {% if coordenador != "" %}
                                              <li> {{ coordenador }} </li>
                                          {% endif %}
                                      {% endfor %}
                                      {% if project.coordenador_bols != "" %}
                                          <li> {{ project.coordenador_bols }}<span class="bolsista"><b> ( COM BOLSA )</b></span> </li>
                                      {% endif %}
                                  </ol>
                                </p>
                              </div>
                          </div>
                          
                          <hr style="width:100%" />

                          <div class="row">
                              <label><b>Participantes</b></label>
                              <div class="col-12">
                                <p>
                                    <ol>
                                         {% for participantes in project.alunos %}
                                            {% if participantes != "" %}
                                                <li>{{ participantes }}</li>
                                            {% endif %}
                                         {% endfor %}
                                         {% if project.aluno_bols != "" %}
                                              <li>{{ project.aluno_bols }}<span class="bolsista"><b> ( COM BOLSA )</b></span></li>
                                         {% endif %}
                                    </ol>
                                </p>
                              </div>
                          </div>

                          <hr style="width:100%" />

                          <div class="row">
                              <label><b>Resumo</b></label>
                              <div class="col-12">
                                <p>
                                  {{ project.resumo }}
                                </p>
                              </div>
                          </div>
                      
                      </div>
                  </div>

                  <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                  </div>
            </div>

      </div>


</div>
